Proyecto2/Proyecto2/Proyecto2/Web References/ServicioViejo/EPATEC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Epatec" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Epatec" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Epatec">
      <s:element name="Parsear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="frase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParsearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParsearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ParsearSoapIn">
    <wsdl:part name="parameters" element="tns:Parsear" />
  </wsdl:message>
  <wsdl:message name="ParsearSoapOut">
    <wsdl:part name="parameters" element="tns:ParsearResponse" />
  </wsdl:message>
  <wsdl:message name="ParsearHttpGetIn">
    <wsdl:part name="frase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ParsearHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ParsearHttpPostIn">
    <wsdl:part name="frase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ParsearHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="EPATECSoap">
    <wsdl:operation name="Parsear">
      <wsdl:input message="tns:ParsearSoapIn" />
      <wsdl:output message="tns:ParsearSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EPATECHttpGet">
    <wsdl:operation name="Parsear">
      <wsdl:input message="tns:ParsearHttpGetIn" />
      <wsdl:output message="tns:ParsearHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EPATECHttpPost">
    <wsdl:operation name="Parsear">
      <wsdl:input message="tns:ParsearHttpPostIn" />
      <wsdl:output message="tns:ParsearHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EPATECSoap" type="tns:EPATECSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Parsear">
      <soap:operation soapAction="http://Epatec/Parsear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EPATECSoap12" type="tns:EPATECSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Parsear">
      <soap12:operation soapAction="http://Epatec/Parsear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EPATECHttpGet" type="tns:EPATECHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Parsear">
      <http:operation location="/Parsear" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EPATECHttpPost" type="tns:EPATECHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Parsear">
      <http:operation location="/Parsear" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EPATEC">
    <wsdl:port name="EPATECSoap" binding="tns:EPATECSoap">
      <soap:address location="http://webserviceepatec.azurewebsites.net/EPATEC.asmx" />
    </wsdl:port>
    <wsdl:port name="EPATECSoap12" binding="tns:EPATECSoap12">
      <soap12:address location="http://webserviceepatec.azurewebsites.net/EPATEC.asmx" />
    </wsdl:port>
    <wsdl:port name="EPATECHttpGet" binding="tns:EPATECHttpGet">
      <http:address location="http://webserviceepatec.azurewebsites.net/EPATEC.asmx" />
    </wsdl:port>
    <wsdl:port name="EPATECHttpPost" binding="tns:EPATECHttpPost">
      <http:address location="http://webserviceepatec.azurewebsites.net/EPATEC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>